<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @staff.code %>
</p>

<p>
  <strong>Department:</strong>
  <%= @staff.department %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Device</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <% @staff.enrolls.select{|enroll| enroll.active?}.sort {|x,y| x.start_date <=> y.start_date}.each do |enroll| %>
      <tr>
      	<td><%= link_to enroll.device.display , enroll.device %></td>
      	<td><%= enroll.start_date.strftime("%F") %></td>
      	<td><%= enroll.end_date.nil? ? nil:enroll.end_date.strftime("%F") %></td>
      	<td><%= enroll.end_date.nil? ? distance_of_time_in_words(enroll.start_date,Date.today.end_of_day):distance_of_time_in_words(enroll.start_date,enroll.end_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  	<strong>Time Line:</strong>
</p>
<div>
	<%= timeline @staff.timeline, height: "200px" %>
</div>

<%= link_to 'Edit', edit_staff_path(@staff) , :class => 'btn btn-default' %> 
<%= link_to 'Back', staffs_path , :class => 'btn btn-default' %>
