<p id="notice"><%= notice %></p>

<h1>Enrolls</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Staff</th>
      <th>Device</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrolls.each do |enroll| %>
      <tr>
        <td><%= link_to enroll.staff.display , enroll.staff %></td>
        <td><%= link_to enroll.device.display , enroll.device %></td>
        <td><%= enroll.start_date.strftime("%F") %></td>
        <td><%= enroll.end_date.nil? ? nil:enroll.end_date.strftime("%F") %></td>
        <td><%= enroll.end_date.nil? ? distance_of_time_in_words(enroll.start_date,Date.today):distance_of_time_in_words(enroll.start_date,enroll.end_date) %></td>
        <td>
        	<%= link_to 'Show', enroll , :class => 'btn btn-default'%>
        	<%= link_to 'Edit', edit_enroll_path(enroll) , :class => 'btn btn-default'%>
        	<%= link_to 'Destroy', enroll, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-danger'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @enrolls, :class => 'digg_pagination' %>
<br>

<%= link_to 'New Enroll', new_enroll_path , :class => 'btn btn-primary' %>
