<%= form_with(model: device, local: true) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :device_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, id: :device_code, class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= form.submit %>
  </div>
  
<% end %>

