<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @device.code %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Staff</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <% @device.enrolls.sort {|x,y| x.start_date <=> y.start_date}.each do |enroll| %>
      <tr>
      	<td><%= link_to enroll.staff.display , enroll.staff %></td>
      	<td><%= enroll.start_date %></td>
      	<td><%= enroll.end_date %></td>
      	<td><%= enroll.end_date.nil? ? distance_of_time_in_words(enroll.start_date,Date.today+1.day):distance_of_time_in_words(enroll.start_date,enroll.end_date+1.day) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Time Line:</strong>
</p>
<div>
	<%= timeline @device.timeline %>
</div>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
